.addProductDetails{
    border-radius: 8px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    background-color: #e0caae;
    padding-top: 30px;
}

.open-addProductDetails{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.addBTNAO{
    margin-top: 10px;
    padding: 5px;
    background-color: green;
    font-weight: bold;
    color: white;
}
.CloseBTNAO{
    background-color: red;
    margin-top: 10px;
    color: white;
    padding: 5px;
    font-weight: bold;
}